<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
</head>
<body>
<h2>로그인</h2>

<!-- Error message -->
<p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></p>

<!-- Login Form -->
<form th:action="@{/users/login}" method="post">
    <label>사용자명: <input type="text" name="username"></label><br>
    <label>비밀번호: <input type="password" name="password"></label><br>
    <button type="submit">로그인</button>
</form>

<a href="/users/signup">회원가입</a>
</body>
</html>
