body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    text-align: center;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면을 가득 채움 */
}

header {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    font-size: 18px;
    position: absolute;
    top: 0;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

.icon {
    color: #FDD835;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content {
    text-align: center;
    max-width: 600px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    color: #444;
}

.cta-btn {
    display: inline-block;
    background-color: #FDD835;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: black;
}

.cta-btn:hover {
    background-color: #E6C300;
}
