{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Date</th>  <!-- ✅ Uses renamed date field -->
    </tr>
    </thead>
    <tbody>
    {{#articleList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/boards/{{boardId}}/articles/{{id}}">{{title}}</a></td>
            <td>{{author}}</td>
            <td>{{formattedDate}}</td>  <!-- ✅ Now correctly gets the formatted date -->
        </tr>
    {{/articleList}}
    </tbody>
</table>

<a href="/boards/{{boardId}}/articles/new">New Article</a>

{{>layouts/footer}}
