<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Article</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/articles/new.css}">
</head>
<body>
<div th:replace="header :: header"></div>

<div class="content-container">
    <h2>게시글 작성하기</h2>
    <form th:action="@{/boards/{boardId}/articles/create(boardId=${boardId})}" method="post">
        <div class="form-group">
            <label class="form-label">제목</label>
            <input type="text" class="form-control" name="title" required>
        </div>

        <div class="form-group">
            <label class="form-label">내용</label>
            <textarea class="form-control" rows="7" name="content" required></textarea>
        </div>

        <button type="submit" class="submit-btn">제출</button>
        <a th:href="@{/boards/{boardId}/articles(boardId=${boardId})}" class="back-btn">뒤로 가기</a>
    </form>
</div>

</body>
</html>
